body {
  background-color: white;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 50px auto;
  max-width: 400px;
}

h2 {
  display: block;
  margin: auto;
  color:black;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}

.asd {
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align:left;
}
.sdf {
  display:block;
  font-size: 15px;
  margin-bottom: 20px;
  text-align:left;
  padding-bottom: 10px;
}

input[type="email"],
input[type="password"] {
  width: 400px;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid var(--essential-subdued,#878787);
  height: 25px;
  cursor: auto;
}
.btn{
  border: 1px solid var(--essential-subdued,#878787);
  height: 50px;
  box-sizing: border-box;
  width: 450px;
  padding: 5px;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 30px;
  color: rgb(248, 248, 248);
  background-color: rgb(24, 119, 242);
}
.btn2{
  border: 1px solid var(--essential-subdued,#878787);
  width: 450px;
  padding: 5px;
  height: 50px;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 30px;
  color: var(--text-subdued,#6a6a6a);
}
.btn1{
  border: 1px solid var(--essential-subdued,#878787);
  box-sizing: border;
  width: 450px;
  padding: 10px;
  height: 50px;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 30px;
  color: white;
  background-color: black;
}
input[type="submit"] {
  border: 1px solid var(--essential-subdued,#878787);
  box-sizing: border;
  width: 450px;
  padding: 10px;
  height: 50px;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 30px;
  color: black;
  background-color: #1DB954;
  cursor: pointer;
  font-weight: bold;
}
.rect{
  height: 700px;
  width: 425px;
}
input[type="submit"]:hover {
  background-color: #1ED760;
}

